%h3.text-align-center-aa
  Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    %table
      %tr
        %td
          = f.label 'Nickname*: '
        %td
          = f.text_field :name, autofocus: true
      %tr
        %td
          = f.label 'Email*: '
        %td
          = f.email_field :email
      %tr
        %td
          = f.label 'Password*: '
        %td
          = f.password_field :password
      %tr
        %td
          = f.label 'Confirm password*: '
        %td
          = f.password_field :password_confirmation
      %tr
        %td
          = f.label 'Captcha*: '
        %td
          #captcha_block.text-align-center-aa
            #captcha
              = render "simple_captcha/simple_captcha_block"
            %button{id: 'refresh-captcha-btn', class: 'refresh_image', type: :button}
              %i{class: "icon-refresh"}
              = "refresh captcha"
    %div
      = f.submit "Sign up"


= render "devise/shared/links"
