%h3
  Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    %fieldset
      = f.text_field :name, :autofocus => true, placeholder: 'Enter your nickname*'
    %fieldset
      = f.email_field :email, placeholder: 'Enter your email*'
    %fieldset
      = f.password_field :password, placeholder: 'Enter your password*'
    %fieldset
      = f.password_field :password_confirmation, placeholder: 'Confirm your password*'
  %div
    %fieldset
      = f.submit "Sign up"

= render "devise/shared/links"
