%h3.text-align-center-aa
  = @h_events[0].event.name
%table
  %thead
    %tr
      %th
        Date
      - if (@h_events[0].eventable_type == UserComment.name) || (@h_events[0].eventable_type == Like.name) || (@h_events[0].eventable_type == Navigation.name)
        %th
          = "Link" if @h_events[0].eventable_type == Navigation.name
          = "Image" if (@h_events[0].eventable_type == UserComment.name) || (@h_events[0].eventable_type == Like.name)    # FIXME
      - if @h_events[0].eventable_type == UserComment.name
        %th
          = "Text"
  %tbody
    - @h_events.each do |he|
      %tr
        %td
          = he.date
        %td
        - if @h_events[0].eventable_type == UserComment.name
          %td