%h3.text-align-center-aa
  All comments
%div
  - @comments.each do |com|
    .comment-div.green-border
      .row-fluid.green-color
        .span4
          = 'Author:'
          %span.white-color
            = (com.author || com.e_history.user.name)
        .span4
          = 'Date: '
          %span.white-color
            = com.created_at.getlocal.strftime("%H:%M")
        .span4
          = 'Image: '+ com.g_image.name
      .comment-text
        = 'Text: '+com.text
  = paginate @comments