= content_for :include_js do
  = javascript_include_tag 'pictures_carousel'

%h3.text-align-center-aa
  = t('.all_images')
#central-image.text-align-center-aa
  - index = @images.size / 2
  = link_to (image_tag @images[index].image.url), picture_path(@images[index].g_image_category.name, @images[index].id)
#carousel
  - @images.each do |img|
    = image_tag img.image.url(:thumb), title: img.name, id: img.id

= paginate @images