!!!DOCTYPE html
%html
%head
  %title
    Tgallery Notifier
%body
  %h3.text-align-center-aa
    = "Dear #{@user_name}!"
  - @new_images.each do |cat_name, imgs|
    %div
      %p
        = "You subscribed to changes on category #{cat_name}."
      %div
        %p
          = "There are #{imgs.size} new images in this category:"
        - imgs.each do |img|
          %div
            = link_to (image_tag attachments[img.name].url), picture_url(cat_name, img.id)
