!!!DOCTYPE html
%html
%head
  %title
    Tgallery Notifier
%body
  %h3.text-align-center-aa
    = "Dear #{@user_name}!"
  %div
    %p
      = "You subscribed to changes on category #{@image.g_image_category.name}. There are added new image #{@image.name}."
    %p
      = "Image preview:"
      = link_to (image_tag attachments['image.jpg'].url), picture_url(@image.g_image_category.name, @image.id)
