%h3.text-align-center-aa
  TGallery list categories
.categories-list
  .row
    .span8.offset1
      = "Category name"
    .span2
      = "Count of images"
  - @categories.each do |cat|
    .category-item
      .row
        .span8.offset1
          = link_to cat.name.capitalize, category_path(cat.name)
        .span2
          = "#{cat.g_images.count}"
  = paginate @categories