%h3.text-align-center-aa
  = t('.title')
.categories-list
  - @categories.each do |cat|
    .category-item
      .row
        .span2.offset1
          = link_to (image_tag cat.g_images.sample.image.url(:thumb)), category_path(cat.name)
        .span8
          = t('.category_name')
          = link_to cat.name.capitalize, category_path(cat.name)
          %br
          = t('.images_count')
          = "#{cat.g_images.count}"
          %br
          = t('.comments_count')
          = "#{@category_comments_count_hash[cat.name]}"
          %br
          = t('.likes_count')
          = "#{@category_likes_count_hash[cat.name]}"
          %br
          = t('.last_updated')
          = l(cat.updated_at.localtime, format: :long)
  = paginate @categories