%p
  = t('devise.views.hello', email: @resource.email)
%p
  = t('devise.views.phrases.link_to_change_passwd')
%p
  = link_to t('devise.views.change_passwd'), edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale)
%p
  = t('devise.views.phrases.ignore_this_email')
%p
  = t('devise.views.phrases.passwd_wont_change')